/*rgb(9, 93, 126) blue */
/*rgb(254, 215, 0) yellow */
/*rgb(236, 236, 236) third color */


#content {
	font-family: "Myriad Pro", sans-serif;
	display: grid;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	max-width: 1920px;
	min-width: 360px;
	text-align: center;
	margin: auto 20px;
	grid-gap: 20px;
	!width: 360px;
	
}


/*header formatting*/
header{
	background-color: rgb(254, 215, 0);
	margin: 0;
	padding: 10px;
	height: 60px;
	display: grid;
	grid-template-columns: 60px auto 60px;
	grid-auto-rows: auto;
}

header div {
	margin: 0;
	height: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#logo {
	background-color: white;
	color: red;
	border-radius: 8px;
	box-shadow: 0px 0px 4px 2px;
}

#title {
	padding-top: 5px;
	color: rgb(9, 93, 126);
	font-size: 3rem;
}

#hamburger {
	background-color: rgb(236, 236, 236);
	border-radius: 8px;
	line-height: 0.75;
}

#hamburger hr {
	width: 60%;
	height: 3px;
	background: rgb(9, 93, 126);
	border: 0;
}



/*search bar formatting*/
#searchAndCart {
	display: grid;
	grid-template-columns: auto 60px 0 70px;
	height: 60px;
}

#searchField {
	border: solid rgb(9, 93, 126) 2px; 
	border-radius: 5px 0 0 5px;
	color: rgb(9, 93, 126);
}

#searchField:focus {
	outline: none; 
	background-color: rgb(236, 236, 236);
}

#searchButton {
	border: solid rgb(9, 93, 126) 2px;
	border-left: none;
	border-radius: 0 5px 5px 0;
}

#searchAndCart img {
	margin-left: 10px;
	margin-top: 3px;
}



/*banner formatting*/
#banner {
	height: 180px;
	background-color: rgb(9, 93, 126);
	display: grid;
	grid-template-columns: auto 180px;
}

#banner div {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#banner img {
	height: 150px; 
	width: 150px;
	margin: 0 auto;
}

#banner span:nth-of-type(odd){
	color: rgb(254, 215, 0);
	margin: 25px 0;
	transform: scale(1, 2);
}

#banner span:nth-of-type(1) {
	font-size: 1rem;
}

#banner span:nth-of-type(2) {
	color: rgb(236, 236, 236);
	font-size: 0.6rem;
	transform: scale(1, 1.5);
	padding-bottom: 5px;
}

#banner span:nth-of-type(3) {
	font-size: .75rem;
}




/*categories formatting*/
#categories {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	color: rgb(9, 93, 126);
}

#categories img {
	width: 85%;
	margin: 0 auto;
}

#categories p {
	margin: 0 auto;
}





/*BSandNA formatting*/
#BSandNA {
	display: grid;
	grid-template-columns: 49% 2% 49%;
	
}

#BSandNA img {
	width: 100%;
}